<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @guide.link %>
</p>

<p>
  <strong>Type:</strong>
  <%= @guide.type %>
</p>

<p>
  <strong>Author:</strong>
  <%= @guide.author %>
</p>

<p>
  <strong>Name:</strong>
  <%= @guide.name %>
</p>

<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
